@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #e2e5e9;
}

/* ImageHoverEffect.css */

.image-hover-container {
    display: flex;
    /* overflow-x: auto; */
    width: 100vw; /* Set to the width of the viewport */
    height: 100vh; /* Set to the height of the viewport */
    scroll-snap-type: x proximity;
  }
  
  .column {
    flex: 1; /* Each column takes equal space */
    display: flex;
    flex-direction: column;
    scroll-snap-align: center;
    min-width: 220px;
  }
  
  .box-container {
    height: 100%; /* Fill the entire height of the column */
    overflow-y: hidden; /* Enable vertical scrolling within the column */
  }
  
  .box {
    height: 220px; /* Fixed height for each box */
    margin: 10px 5px;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    animation: scrollAnimation 20s linear infinite; /* Adjust the duration as needed */
  }
  
  /* Add different colors for each column */
  .column-1 .box { background-color: #651228; }
  .column-2 .box { background-color: #651228; }
  .column-3 .box { background-color: #651228; }
  .column-4 .box { background-color: #651228; }
  .column-5 .box { background-color: #651228; }
  .column-6 .box { background-color: #651228; }
  
  /* Hover effect on the boxes */
  /* .box:hover {
    background-color: #ffcc00;
  } */
  
  /* Animation for auto-scrolling */
@keyframes scrollAnimation {
  0% {
    transform: translateY(0); /* Initial position */
  }
  100% {
    transform: translateY(calc(-300px * 6 - 10px)); /* Move to the next set of boxes with a small overlap */
  }
}
  
  /* Alternate directions for alternate columns */
  .column-2 .box {
    animation-direction: reverse;
  }
  
  .column-4 .box {
    animation-direction: reverse;
  }
  
  .column-6 .box {
    animation-direction: reverse;
  }
  

  .spotlight {
    background: var(--circle);
    transition: --circle 2s;
    z-index: 2;
    /* background-color: #4158D0; */
    /* background-image: ; */
}


/* Responsive styles to hide columns from the right side */
/* @media (max-width: 1200px) {
    .column-6 {
      display: none;
    }
  }
  
  @media (max-width: 1000px) {
    .column-5 {
      display: none;
    }
  }
  
  @media (max-width: 800px) {
    .column-4 {
      display: none;
    }
  } */